<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Widget</title>
    <!-- Vite client for HMR in development -->
    <script type="module" src="http://localhost:5173/@vite/client"></script>
</head>
<body>
    <script type="module" src="./script.js"></script>
</body>
</html>