@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
    background-color: #000;
    line-height: 1;
}

/* Utility */

:root {
    --redo-easing: cubic-bezier(.2, 0, 0, 1);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);

    --color-redo-50: hsl(270 9.1% 99.7%);
    --color-redo-100: hsl(240 5.3% 92.5%);
    --color-redo-200: hsl(252 6.5% 84.9%);
    --color-redo-300: hsl(247.5 6% 73.7%);
    --color-redo-400: hsl(250 6.3% 62.7%);
    --color-redo-500: hsl(251.2 6.7% 52.9%);
    --color-redo-600: hsl(253.3 8.3% 42.4%);
    --color-redo-700: hsl(256 9.3% 31.6%);
    --color-redo-800: hsl(250.9 10.1% 21.4%);
    --color-redo-900: hsl(248.6 10.8% 12.7%);
    --color-redo-950: hsl(252 13.5% 7.3%);

    --tr-950: oklch(0% 0 0 / 0.95);
    --tr-950: oklch(0% 0 0 / 0.95);
    --tr-900: oklch(0% 0 0 / 0.9);
    --tr-800: oklch(0% 0 0 / 0.8);
    --tr-700: oklch(0% 0 0 / 0.7);
    --tr-600: oklch(0% 0 0 / 0.6);
    --tr-500: oklch(0% 0 0 / 0.5);
    --tr-400: oklch(0% 0 0 / 0.4);
    --tr-300: oklch(0% 0 0 / 0.3);
    --tr-200: oklch(0% 0 0 / 0.2);
    --tr-100: oklch(0% 0 0 / 0.1);
    --tr-50: oklch(0% 0 0 / 0.05);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);

    --tr-950: oklch(100% 0.00011 271.152 / 0.95);
    --tr-900: oklch(100% 0.00011 271.152 / 0.9);
    --tr-800: oklch(100% 0.00011 271.152 / 0.8);
    --tr-700: oklch(100% 0.00011 271.152 / 0.7);
    --tr-600: oklch(100% 0.00011 271.152 / 0.6);
    --tr-500: oklch(100% 0.00011 271.152 / 0.5);
    --tr-400: oklch(100% 0.00011 271.152 / 0.4);
    --tr-300: oklch(100% 0.00011 271.152 / 0.3);
    --tr-200: oklch(100% 0.00011 271.152 / 0.2);
    --tr-100: oklch(100% 0.00011 271.152 / 0.1);
    --tr-50: oklch(100% 0.00011 271.152 / 0.05);
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-tr-950: var(--tr-950);
    --color-tr-900: var(--tr-900);
    --color-tr-800: var(--tr-800);
    --color-tr-700: var(--tr-700);
    --color-tr-600: var(--tr-600);
    --color-tr-500: var(--tr-500);
    --color-tr-400: var(--tr-400);
    --color-tr-300: var(--tr-300);
    --color-tr-200: var(--tr-200);
    --color-tr-100: var(--tr-100);
    --color-tr-50: var(--tr-50);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.center {
    place-items: center;
    justify-content: center;
    align-items: center;
}

svg{
    display: inline;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--chart-1);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1' cy='1' r='1' fill='%23D9D9D933'/%3E%3C/svg%3E%0A"), radial-gradient(31.64% 56.25% at 100% 0%, #ffffff 0%, transparent 100%), radial-gradient(32.21% 57.27% at 42% 100%, #ffffff 0%, transparent 100%), var(--color-redo-100);
}

.dark body {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1' cy='1' r='1' fill='%23D9D9D933'/%3E%3C/svg%3E%0A"), radial-gradient(31.64% 56.25% at 100% 0%, var(--secondary) 0%, transparent 100%), radial-gradient(32.21% 57.27% at 42% 100%, var(--secondary) 0%, transparent 100%), var(--background);
}

body[clean-bg="true"]{
    background: radial-gradient(31.64% 56.25% at 100% 0%, #ffffff 0%, transparent 100%), radial-gradient(32.21% 57.27% at 42% 100%, #ffffff 0%, transparent 100%), var(--color-redo-100);
}

.dark body[clean-bg="true"]{
    background: radial-gradient(31.64% 56.25% at 100% 0%, var(--secondary) 0%, transparent 100%), radial-gradient(32.21% 57.27% at 42% 100%, var(--secondary) 0%, transparent 100%), var(--background);
}

/* Home Screen */

.home-screen-sidebar{
    background: #fff;
    border: var(--tr-100) 1px solid;
    border-left: unset;
    border-radius: 0 1rem 1rem 0;
    transition: background 300ms ease;
    background: linear-gradient(180deg, var(--background) 0%, #e1e1e1 100%);
}


.dark .home-screen-sidebar{
    background: #000;
    background: linear-gradient(180deg, var(--background) 0%, #191919 100%);
}

.home-screen-sidebar.detached{
    margin: 2rem 0;
}

.home-screen-sidebar i{
    text-align: center;
}

.home-screen-sidebar-logo{
    padding-bottom: 0.75rem;
    border-bottom: var(--tr-100) 1px solid;
}

.home-screen-sidebar-buttons{
    padding-top: 0.75rem;
    border-top: var(--tr-100) 1px solid;
}

.home-screen {
    height: 100vh;
}

.home-screen-heading{
    border-bottom: var(--tr-100) 0.0625rem solid;
}

.home-screen-heading h1 {
    font-size: 2em;
    font-weight: 700;
}

.home-screen-create{
    background-color: oklab(100% 0 -0.00011 / 0.5);
    transition: background-color 300ms var(--redo-easing), transform 300ms var(--redo-easing);
}

.home-screen-create:hover{
    background-color: #fff;
}

.dark .home-screen-create{
    background-color: var(--tr-100);
}

.dark .home-screen-create:hover{
    background-color: var(--tr-200);
}

.home-screen-overlay{
    transition: background 300ms var(--redo-easing);
    border: transparent 0.0625rem solid;
    letter-spacing: 0.03em;
}

.home-screen-overlay:hover{
    border: var(--tr-100) 0.0625rem solid;
}

.home-screen-overlay .tx{
    transition: transform 300ms var(--redo-easing);
}
.home-screen-overlay:hover .tx{
    transform: translateX(1.25rem);
}

.overlay-action-buttons{
    opacity: 0;
    background: var(--tr-50);
    height: fit-content;
    cursor: default;
    transition: opacity 300ms var(--redo-easing);
    transition-delay: 0ms;
}

.home-screen-overlay:hover .overlay-action-buttons, .trash-overlay:hover .overlay-action-buttons,  .trash-widget:hover .overlay-action-buttons{
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transition-delay: 200ms;
}

.overlay-action-buttons button{
    opacity: 0.5;
    transition: opacity 300ms var(--redo-easing);
}

.overlay-action-buttons button:hover{
    opacity: 1;
}

.overlay-action-buttons-divider{
    border-left: var(--tr-100) 0.0625rem solid;
}

p.overlay-last-opened{
    font-size: 12px;
    opacity: .5;
}

/* Overlay */

.overlay {
    display: block;
    height: 100vh;
    color: var(--foreground);
    padding: 3.125rem;
    box-sizing: border-box;
}

.OverlayButtonContainer {
    bottom: 3.125rem;
    z-index: 100;
    transition: left 750ms var(--redo-easing);
    left: 3.125rem;
}

.OverlayButtonContainer[data-sidebar-visible="true"] {
    left: 19.4375rem;
}

.depth-shadow {
    box-shadow: 0 0.875rem 1.25rem #00000040;
}

/* Widget iframe */

.widget-container {
    width: fit-content;
    height: fit-content;

    border-radius: .5rem;
    border: #ffffff10 0.125rem solid;
    background-color: #ffffff05;
    transition: border 300ms ease;
    box-sizing: border-box;
    overflow: hidden;
}

.widget-container:hover {
    border-color: #ffffff20;
}

.widget-container::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    backdrop-filter: blur(0.25rem);
    filter: url(#glass);

    position: absolute;
    top: 0;
    left: 0;

    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

.widget-container > .widget-remove-button > button {
    opacity: 0;
    transition: opacity 300ms ease;
}

.widget-container:hover > .widget-remove-button > button {
    opacity: 0.2;
}

.widget-container:hover > .widget-remove-button > button:hover {
    opacity: 1;
}

.widget-remove-button {
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: relative;
}

.resize-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 10;
}

.resize-handle.top-left {
    top: -6px;
    left: -6px;
    cursor: nwse-resize;
}

.resize-handle.top-right {
    top: -6px;
    right: -6px;
    cursor: nesw-resize;
}

.resize-handle.bottom-left {
    bottom: -6px;
    left: -6px;
    cursor: nesw-resize;
}

.resize-handle.bottom-right {
    bottom: -6px;
    right: -6px;
    cursor: nwse-resize;
}

.widget-container .script-notice{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom-right-radius: 1rem;
}

.script-notice button{
    opacity: 1;
}

/* Sidebar */

.sidebar {
    color: var(--foreground);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 0.5rem; */
    isolation: isolate;

    width: 14.75rem;
    height: 100%;

    background: linear-gradient(180deg, var(--background) 0%, #191919 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    transition: margin-left 750ms var(--redo-easing);
    position: relative;
    z-index: 1;
}

.sidebar[data-sidebar-visible="false"] {
    margin-left: -18.75rem;
}

.sidebar-heading {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* padding-bottom: .5rem; */
    box-sizing: border-box;
}

.sidebar-back{
    transition: opacity 300ms var(--redo-easing)
}

.sidebar-overlay-name {
    margin: 0;
    line-height: 1.5rem;
}

.sidebar-button {
    left: 3.125rem;
    transition: left 750ms var(--redo-easing), opacity 750ms ease;
    top: 3.90625rem;
    opacity: 1;
}

.sidebar-button[data-sidebar-visible="true"] {
    left: 14.9375rem;
    opacity: 0;
}

.sidebar-fields-container {
    height: 100%;
    width: 100%;
    border-top: rgba(255, 255, 255, 0.2) 0.0625rem solid;
    border-bottom: rgba(255, 255, 255, 0.2) 0.0625rem solid;
    overflow: scroll;
}

.add-group-container {
    padding: 1rem;
    /* padding-top: .5rem; */
    width: 100%;
    box-sizing: border-box;
}
/* Trash */

.trash-overlay, .trash-widget{
    transition: background 300ms var(--redo-easing);
    border: transparent 0.0625rem solid;
    letter-spacing: 0.03em;
}

.trash-overlay:hover, .trash-widget:hover{
    border: var(--tr-100) 0.0625rem solid;
}

.trash-widget{
    margin-left: 3rem;
}

.trash-widget .tx{
    transition: transform 300ms var(--redo-easing);
}
.trash-widget:hover .tx{
    transform: translateX(1.25rem);
}