:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

#root{
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    min-width: 100vw;
    min-height: 100vh;
}

body[data-theme="dark"] {
    --bg: #0A0A0A;
}

body, html{
  margin: 0;
  padding: 0;
  background: var(--bg);
}